@import url('https://fonts.font.im/css2?family=Saira:wght@500&display=swap')

#sitename
  font-family Saira, sans-serif
  font-size 18px

  #sitename-accent
    color #2bba8a

#main-container
  margin-top 60px


#footer-container
  margin 40px 0 20px !important
  padding 0
  width 100%
  color #aeaeae !important

  a
    color #717171 !important

    &:hover
      color #1e70bf !important

  #footer-version
    margin 2px 0
    color #717171 !important
    font-size 12px
    display inline !important
    line-height 0.8

.ui.label.attention
  background rgb(255 225 225 / 45%)
  color #a53d3b
